# This file specifies files and directories to ignore when building the Docker image.

__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
docs/
src/
.next/
*.egg
*.whl
*.tar.gz
*.zip
*.tar
*.gz
*.tgz
*.bak
*.swp
.DS_Store
Thumbs.db
.vscode/